.checkForm {
    display: none;
    /* display: block; */
}

.box {
    background-color: silver;
    width: 98%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    height: 200px;
}

input {
    width:99.5%; 
    border-radius: 5px;
    margin:  auto;
    height: 25px;
}

ul {
    list-style: none;
  }
  
/* li:before {
    content: '✕';
  } */
.unValid:before {
    content: '✕';
  }

.valid:before {
    content: "&#10006;";
}

#mainTitle {
    margin-top: 5px;
    margin-left: 15px;
}

#formInstruction{
    margin-top: 5px;
    margin-left: 15px;
}

li {
    margin: 5px;
    font-size:x-large;
}

.liSpan {
    margin-left: 45px;
}

.mySpan {
    font-weight:bold;
}

#submit {
    display: block;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 2px;
    width: 150px;
}

#submitText {
    align-self: center;
}

#myTitle {
    color: black;
}